Repository craftcodecorp/craftcode.github.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @craftcodecorp/developers, @craftcodecorp/lead-developers, @craftcodecorp/frontend-team, @craftcodecorp/ui-team, @craftcodecorp/devops, @craftcodecorp/tech-writers, @craftcodecorp/project-managers

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @craftcodecorp/developers

# Core application files
/src/App.tsx @craftcodecorp/lead-developers
/src/main.tsx @craftcodecorp/lead-developers
/vite.config.ts @craftcodecorp/lead-developers

# Component ownership
/src/components/ @craftcodecorp/frontend-team
/src/components/ui/ @craftcodecorp/ui-team

# Page components
/src/pages/ @craftcodecorp/frontend-team

# Utility functions and libraries
/src/lib/ @craftcodecorp/lead-developers

# Configuration files
/.github/ @craftcodecorp/devops
/scripts/ @craftcodecorp/devops

# Documentation
/README.md @craftcodecorp/tech-writers
/TODO.md @craftcodecorp/project-managers

ci: update GitHub Actions to use v4 of upload-artifact
  .github/workflows/deploy.yml
  .github/workflows/performance.yml
  .github/workflows/test.yml
Owners: @craftcodecorp/devops

fix(ci): improve GitHub Actions deploy workflow configuration
  .github/workflows/deploy.yml
Owners: @craftcodecorp/devops

Deploy website [skip ci]
  404.html
  assets/About-sTbPv9YW.js
  assets/CardapioFacil-BFfYNJHA.js
  assets/Contact-lpNttVn4.js
  assets/Footer-CgCbBSnh.js
  assets/Index-BmZQzUJA.js
  assets/NotFound-CBv8jPTf.js
  assets/ProductHighlight-CVd8tKA6.js
  assets/Solutions-mBKpp-tG.js
  assets/WhatsAppButton-CtnEz3UH.js
  assets/button-CrPPkcA8.js
  assets/card-B57ZiIfS.js
  assets/external-link-B53xL1Y7.js
  assets/index-BHwB_zU0.js
  assets/index-CQ65ytLI.css
  assets/message-circle-C2jPwJQZ.js
  assets/message-square-C_xktGAH.js
  assets/seo-utils-BP9aQv6T.js
  assets/trending-up-D13AcFNb.js
  crafthanddesck_s9wsce_c_scale,w_967.png
  favicon.ico
  favicon_white.ico
  images/og-cardapio-facil.jpg
  images/og-cardapio-facil.png
  images/og-craftcode-digital-hub.jpg
  images/og-craftcode-digital-hub.png
  images/webp/crafthanddesck_s9wsce_c_scale,w_967.webp
  images/webp/crafthanddesck_s9wsce_c_scale,w_967_w_480.webp
  images/webp/crafthanddesck_s9wsce_c_scale,w_967_w_800.webp
  images/webp/leftbg.webp
  images/webp/leftbg_w_480.webp
  images/webp/leftbg_w_800.webp
  images/webp/logo_white.webp
  index.html
  leftbg.jpg
  logo_white.png
  placeholder.svg
  robots.txt
Owners: @craftcodecorp/developers

fix(ci): improve GitHub Actions deploy workflow configuration
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Owners: @craftcodecorp/devops

fix(ci): add id-token write permission to deploy job
  .github/workflows/deploy.yml
Owners: @craftcodecorp/devops

fix: vites production configuration
  vite.config.ts
Owners: @craftcodecorp/lead-developers

fix(deploy): set correct base URL and add CNAME for custom domain
  public/CNAME
Owners: @craftcodecorp/developers

feat(hero): replace projects metric with code quality metric
  src/components/Hero.tsx
Owners: @craftcodecorp/frontend-team

feat(hero): replace code quality metric with agile development metric
  src/components/Hero.tsx
Owners: @craftcodecorp/frontend-team

feat(hero): add 24/7 technical support metric
  src/components/Hero.tsx
Owners: @craftcodecorp/frontend-team

feat(hero): add 5-star customer satisfaction metric
  src/components/Hero.tsx
Owners: @craftcodecorp/frontend-team

feat(hero): add technology expertise metric
  src/components/Hero.tsx
Owners: @craftcodecorp/frontend-team

fix(favicon): improve favicon implementation with multiple formats
  index.html
  public/favicon.svg
  public/manifest.json
Owners: @craftcodecorp/developers

fix(branding): update favicon reference and company name
  index.html
  src/components/Header.tsx
Owners: @craftcodecorp/developers, @craftcodecorp/frontend-team

fix(favicon): simplify favicon implementation to use correct file
  index.html
  src/components/Header.tsx
Owners: @craftcodecorp/developers, @craftcodecorp/frontend-team

fix(seo): update OG image paths and fix TypeScript errors
  index.html
  src/lib/seo-utils.tsx
  src/pages/Index.tsx
Owners: @craftcodecorp/developers, @craftcodecorp/lead-developers, @craftcodecorp/frontend-team

feat(branding): update OG images to reflect brand identity
  public/fonts/Inter-Bold.ttf
  public/images/og-craftcode-digital-hub.jpg
  public/images/og-craftcode-digital-hub.png
  scripts/generate-og-image.js
Owners: @craftcodecorp/developers, @craftcodecorp/devops

feat(branding): update OG images with new brand identity
  index.html
  public/images/og-cardapio.jpg
  public/images/og-cardapio.png
  public/images/og-craftcode.jpg
  public/images/og-craftcode.png
  scripts/generate-og-image.js
  src/lib/seo-utils.tsx
  src/pages/Index.tsx
Owners: @craftcodecorp/developers, @craftcodecorp/devops, @craftcodecorp/lead-developers, @craftcodecorp/frontend-team

fix(navigation): update Saber mais button to open CardapioFacil about page
  src/components/ProductHighlight.tsx
Owners: @craftcodecorp/frontend-team

fix(navigation): update Saber mais button to use React Router Link
  src/components/ProductHighlight.tsx
Owners: @craftcodecorp/frontend-team

feat(branding): update CardapioFacil OG image with content from page
  public/images/og-cardapio.jpg
  public/images/og-cardapio.png
  scripts/generate-og-image.js
Owners: @craftcodecorp/developers, @craftcodecorp/devops

feat(branding): update OG images with official brand color palettes
  TODO.md
  public/favicon.svg
  public/images/og-cardapio-facil.jpg
  public/images/og-cardapio-facil.png
  public/images/og-cardapio.jpg
  public/images/og-cardapio.png
  public/images/og-craftcode-digital-hub.jpg
  public/images/og-craftcode-digital-hub.png
  public/images/og-craftcode.jpg
  public/images/og-craftcode.png
  public/logo.png
  public/manifest.json
  scripts/generate-og-image.js
  src/components/Header.tsx
  src/pages/CardapioFacil.tsx
Owners: @craftcodecorp/project-managers, @craftcodecorp/developers, @craftcodecorp/devops, @craftcodecorp/frontend-team

feat: add cover to page cardapiofacil
  public/images/cardapiofacil/favicon.ico
  public/images/cardapiofacil/mothers-meal-planning.jpg
  src/pages/CardapioFacil.tsx
Owners: @craftcodecorp/developers, @craftcodecorp/frontend-team

feat: improve the og images
  public/images/og-cardapio.jpg
  public/images/og-cardapio.png
  public/images/og-craftcode.jpg
  public/images/og-craftcode.png
  scripts/generate-og-image.js
  src/components/Contact.tsx
  src/services/contactService.ts
Owners: @craftcodecorp/developers, @craftcodecorp/devops, @craftcodecorp/frontend-team

feat: implement send email forms
  .env.development
  .env.example
  .github/workflows/deploy.yml
  TODO.md
  docs/EMAIL-CONFIRMATION-TEMPLATE.html
  docs/EMAIL-TEMPLATE.html
  docs/EMAILJS-SETUP.md
  docs/GITHUB-SECRETS-SETUP.md
  package-lock.json
  package.json
  src/components/Contact.tsx
  src/lib/emailjs-init.ts
  src/main.tsx
  src/services/contactService.ts
  tailwind.config.ts
Owners: @craftcodecorp/developers, @craftcodecorp/devops, @craftcodecorp/project-managers, @craftcodecorp/frontend-team, @craftcodecorp/lead-developers

fix: tecnologia dominada to 50+
  src/components/Hero.tsx
Owners: @craftcodecorp/frontend-team

fix: lint error
  src/services/contactService.ts
Owners: @craftcodecorp/developers

fix: deploy envs and secretes
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Owners: @craftcodecorp/devops

feat: configure GA
  .env.development
  .env.example
  .github/workflows/deploy.yml
  docs/GOOGLE-ANALYTICS-SETUP.md
  package-lock.json
  package.json
  src/App.tsx
  src/components/Header.tsx
  src/components/Hero.tsx
  src/index.css
  src/lib/analytics-init.ts
  src/pages/Index.tsx
Owners: @craftcodecorp/developers, @craftcodecorp/devops, @craftcodecorp/lead-developers, @craftcodecorp/frontend-team

first site fixes
  AGENTS.md
  index.html
  package.json
  proposta_reposicionamento_craftcode.md
  public/fonts/Inter-Bold.ttf
  public/images/webp/leftbg.webp
  public/robots.txt
  scripts/generate-og-image.js
  scripts/prerender.mjs
  src/components/About.tsx
  src/components/Contact.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Hero.tsx
  src/components/ProductHighlight.tsx
  src/components/Solutions.tsx
  src/components/WhatsAppButton.tsx
  src/components/ui/lazy-load.tsx
  src/entry-server.tsx
  src/index.css
  src/lib/analytics-init.ts
  src/lib/seo-utils.tsx
  src/lib/site-metadata.ts
  src/pages/CardapioFacil.tsx
  src/pages/Index.tsx
  src/pages/NotFound.tsx
  src/services/contactService.ts
  vite.config.ts
Owners: @craftcodecorp/developers, @craftcodecorp/devops, @craftcodecorp/frontend-team, @craftcodecorp/ui-team, @craftcodecorp/lead-developers

feat: change avatar images and remove pindamonhangaba
  docs/craftcode-repositioning-implementation-plan.md
  docs/craftcode-site-validation-report.md
  proposta_reposicionamento_craftcode.md
  public/images/italo-castilho-avatar-v2.png
  public/images/italo-castilho-avatar-v3.png
  src/components/About.tsx
  src/components/Contact.tsx
  src/components/Footer.tsx
  src/components/Hero.tsx
  src/lib/seo-utils.tsx
  src/lib/site-metadata.ts
Owners: @craftcodecorp/developers, @craftcodecorp/frontend-team, @craftcodecorp/lead-developers

fix: code review
  .github/workflows/deploy.yml
  TODO.md
  docs/EMAIL-CONFIRMATION-TEMPLATE.html
  docs/EMAIL-TEMPLATE.html
  docs/EMAILJS-SETUP.md
  docs/GOOGLE-ANALYTICS-SETUP.md
  docs/craftcode-repositioning-implementation-plan.md
  docs/craftcode-site-validation-report.md
  docs/site-critical-review-2026-06-27.md
  eslint.config.js
  package.json
  scripts/validate-emailjs-env.mjs
  src/components/About.tsx
  src/components/AnalyticsConsent.test.tsx
  src/components/Contact.test.tsx
  src/components/Contact.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/HeaderFooterNavigation.test.tsx
  src/components/Hero.tsx
  src/components/HomeNarrative.tsx
  src/components/PageSections.tsx
  src/components/Solutions.tsx
  src/lib/emailjs-init.ts
  src/lib/repositioning-content.ts
  src/lib/site-metadata.test.ts
  src/lib/site-metadata.ts
  src/pages/CardapioFacil.tsx
  src/pages/Conteudos.tsx
  src/pages/Index.tsx
  src/pages/Privacidade.tsx
  src/pages/ServicePage.tsx
  src/services/contactService.ts
Owners: @craftcodecorp/devops, @craftcodecorp/project-managers, @craftcodecorp/developers, @craftcodecorp/frontend-team, @craftcodecorp/lead-developers

feat: site improvement
  docs/ceo_revision.md
  docs/ceo_revision_improvement_plan.md
  src/components/About.tsx
  src/components/Contact.test.tsx
  src/components/Contact.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/HeaderFooterNavigation.test.tsx
  src/components/Hero.tsx
  src/components/HomeNarrative.tsx
  src/components/PageSections.tsx
  src/components/Solutions.tsx
  src/lib/repositioning-content.ts
  src/lib/site-metadata.test.ts
  src/lib/site-metadata.ts
  src/pages/CardapioFacil.tsx
  src/pages/Conteudos.tsx
  src/pages/DiagnosticoTecnologiaIa.tsx
  src/pages/ServicePage.tsx
  src/pages/Setores.tsx
  src/pages/Solucoes.tsx
Owners: @craftcodecorp/developers, @craftcodecorp/frontend-team, @craftcodecorp/lead-developers
